<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频流运行管理</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .table-container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .btn-add {
            margin-bottom: 20px;
        }

        .action-btn {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">视频流运行管理</h2>
    <div class="table-container">
        <!-- 新增按钮 -->
        <div class="text-end">
            <a href="javascript:void(0)" class="btn btn-primary btn-add" onclick="openAddModal()">新增</a>
        </div><!-- 新增 Modal -->
        <div class="modal" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">新增运行视频流</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addVideoForm">
                            <div class="mb-3">
                                <label for="videoStream" class="form-label">选择Gstreamer管道</label>
                                <select class="form-select" id="videoStream" required>
                                    <!-- Options will be populated dynamically from the API -->
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="videoStream" class="form-label">大模型流程挂载</label>
                                <select class="form-select" id="largeModelProcess" required>
                                    <!-- Options will be populated dynamically from the API -->
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="addGstreamer()">点击运行流</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 修改 Modal -->
        <div class="modal" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">修改挂载流程</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editVideoForm">

                            <div class="mb-3">
                                <label for="gstreamerId" class="form-label">编号</label>
                                <input type="text" class="form-control" id="editGstreamerId" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="videoCodec" class="form-label">流程挂载</label>
                                <select class="form-select" id="editGstreamerProcess" required>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="editGstreamerProcessMount()">确认修改
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 列表 -->
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>编号</th>
                <th>管道名称</th>
                <th>输入类型</th>
                <th>输入数据</th>
                <th>输出类型</th>
                <th>输出数据</th>
                <th>流程挂载</th>
                <th>运行状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="video-list">
            </tbody>
        </table>
    </div>
</div>
</body>
{# 添加运行的流 #}
<script>
    // Function to open the modal
    function openAddModal() {
        const addModal = new bootstrap.Modal(document.getElementById('addModal'));
        addModal.show();
    }

    // Function to add a new video
    async function addGstreamer() {
        const gsConfig = document.getElementById('videoStream').value;
        const largeModelProcess = document.getElementById('largeModelProcess').value;

        const newVideo = {
            gs_config_id: gsConfig,
            process_mount: largeModelProcess,
        };

        try {
            const response = await fetch('http://192.168.0.70:28481/v1/addGstreamerController', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(newVideo)
            });

            if (response.ok) {
                // Reload data after successfully adding a video
                fetchVideoData();
                const addModal = bootstrap.Modal.getInstance(document.getElementById('addModal'));
                addModal.hide();
            } else {
                console.error('Error adding video:', await response.text());
            }
        } catch (error) {
            console.error('Error adding video:', error);
        }
    }
</script>
{# 获取所有运行的视频流 #}
<script>
    // Fetch data from the API and populate the table
    async function fetchVideoData() {
        try {

            const response = await fetch('http://192.168.0.70:28481/v1/getAllGstreamerController'); // Replace with your actual API endpoint
            const data = await response.json(); // Parse the JSON response
            const videoList = data["data"]

            // Reference to the tbody element
            const tbody = document.getElementById('video-list');
            tbody.innerHTML = '';

            // Populate the table rows
            for (const item of videoList) {
                let flow_name = ""
                if (item.process_mount !== "") {
                    // 获取流程真实的名称
                    const flow_response = await fetch('http://192.168.0.70:28481/v1/get_flow_by_id', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            flow_id: item.process_mount
                        })
                    })
                    const data = await flow_response.json(); // Parse the JSON response
                    const flow_content = data["data"]
                    flow_name = flow_content.data.flow_name
                }
                const row = document.createElement('tr');

                row.innerHTML = `
                    <td>${item.id}</td>
                    <td>${item.gs_config_name}</td>
                    <td>${item.gs_input_type}</td>
                    <td>${item.gs_input_data}</td>
                    <td>${item.gs_output_type}</td>
                    <td>${item.gs_output_data}</td>
                    <td>${item.process_mount}</td>
                    <td>
                        <span class="badge bg-success">
                            正在运行
                        </span>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="btn btn-warning btn-sm action-btn" onclick="openEditModal('${item.id}', '${item.process_mount}')">修改流程挂载</a>
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm" onclick="deleteGstreamer('${item.id}')">停止运行</a>
                    </td>
`;
                tbody.appendChild(row);
            }
        } catch (error) {
            console.error('Error fetching video data:', error);
        }
    }

    // Call the function to load the data
    fetchVideoData();
</script>
{# 停止运行 #}
<script>
    async function deleteGstreamer(videoId) {
        try {
            const response = await fetch(`
            http://192.168.0.70:28481/v1/pauseGstreamerController?id=${videoId}`);

            if (response.ok) {
                // Refresh the video list after successful deletion
                fetchVideoData();
            } else {
                alert('删除失败，请重试!');
            }
        } catch (error) {
            alert('网络错误，请稍后再试!');
        }
    }
</script>
{# 获取所有摄像头数据 #}
<script>
    async function populateGsConfigOptions() {
        try {
            const response = await fetch('http://192.168.0.70:28481/v1/getGstreamerPiePlineConfigController'); // Replace with the correct API endpoint

            const data = await response.json(); // Parse the JSON response
            const gsList = data["data"]

            const gsSelect = document.getElementById('videoStream');

            gsSelect.innerHTML = ''; // Clear existing options
            gsList.forEach(item => {
                const option = document.createElement('option');
                option.value = item.id;
                option.textContent = item.gs_name;
                gsSelect.appendChild(option);
            });
        } catch (error) {
            console.error('Error fetching video streams:', error);
        }
    }

    document.getElementById('addModal').addEventListener('shown.bs.modal', () => {
        populateGsConfigOptions();
    });
</script>
{# 获取所有流程数据 #}
<script>
    async function populateLargeModelProcessOptions() {
        try {
            const response = await fetch('http://192.168.0.70:28481/v1/get_all_flow', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const data = await response.json(); // Parse the JSON response
            const videoList = data["data"]

            const largeModelProcessStreamSelect = document.getElementById('largeModelProcess');

            largeModelProcessStreamSelect.innerHTML = ''; // Clear existing options
            videoList.forEach(item => {
                const option = document.createElement('option');
                option.value = item.id;
                option.textContent = item.data.flow_name;
                largeModelProcessStreamSelect.appendChild(option);
            });
        } catch (error) {
            console.error('Error fetching video streams:', error);
        }
    }

    document.getElementById('addModal').addEventListener('shown.bs.modal', () => {
        populateLargeModelProcessOptions();
    });
</script>
{# 修改处理 #}
<script>
    // Function to open the modal
    async function openEditModal(id, process_mount) {
        document.getElementById('editGstreamerId').value = id;

        const response = await fetch('http://192.168.0.70:28481/v1/get_all_flow', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        const data = await response.json(); // Parse the JSON response
        const videoList = data["data"]

        const largeModelProcessStreamSelect = document.getElementById('editGstreamerProcess');

        largeModelProcessStreamSelect.innerHTML = ''; // Clear existing options
        videoList.forEach(item => {
            const option = document.createElement('option');
            option.value = item.id;
            option.textContent = item.data.flow_name;
            if (item.id === process_mount) { // Set the default value based on the passed id
                option.selected = true;
            }
            largeModelProcessStreamSelect.appendChild(option);
        });

        const editModal = new bootstrap.Modal(document.getElementById('editModal'));
        editModal.show();
    }

    // Function to add a new video
    async function editGstreamerProcessMount() {
        const gstreamer_id = document.getElementById('editGstreamerId').value
        const process_mount = document.getElementById('editGstreamerProcess').value

        const editGstreamer = {
            gstreamer_id: gstreamer_id,
            process_mount: process_mount
        };

        try {
            const response = await fetch('http://192.168.0.70:28481/v1/updateGstreamerProcessMountController', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(editGstreamer)
            });

            if (response.ok) {
                // Reload data after successfully adding a video
                fetchVideoData();
                const editModal = bootstrap.Modal.getInstance(document.getElementById('editModal'));
                editModal.hide();
            } else {
                console.error('Error edit video:', await response.text());
            }
        } catch (error) {
            console.error('Error edit video:', error);
        }
    }
</script>
</html>